.json-schema-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  width: 100%;
}
.schema-select {
  display: flex;
  flex-direction: column;
}

.property-box {
  width: fit-content;
}

.object-properties {
  margin-left: 50px;
}

.json-input {
  display: flex;
  flex-direction: column;
  display: none;
}

.json-elem {
  background-color: #cbd5ef;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  margin: 10px 5px 10px 10px;
}
.json-elem:hover,
.json-object-elem:hover {
  background-color: #9eafdb;
  cursor: pointer;
}

.json-arrayItem-elem {
  background-color: #cbd5ef;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 5px 10px 10px;
}

.json-object-elem {
  background-color: #cbd5ef;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
}

.json-key-value {
  background-color: greenyellow;
  margin-bottom: 5px;
  cursor: pointer;
}

.json-key-value:hover {
  background-color: red;
}

/* .json-elem:hover {
  background-color: #a5b8e1;
} */

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.object-wrapper {
  display: flex;
  flex-direction: row;
}

.json-elem.active,
.json-object-elem.active {
  background-color: #f39c12;
}
