.json-schema-container {
  display: flex;
  flex-direction: row;
}
.schema-select{
  display:flex;
  flex-direction:column;
}

.property-box {
  width: fit-content;
}

.object-properties {
  margin-left: 50px;
  border: 1px solid #b0b0b0;
}

.json-elem {
  background-color: #cbd5ef;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  ;
}

.json-key-value{
  background-color: greenyellow;
  margin-bottom:5px;
}

.json-key-value:hover{
  background-color:red;
}

/* .json-elem:hover {
  background-color: #a5b8e1;
} */

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
