.validation-result-item {
  display: flex;
  gap: 50px;
}

.validation-results-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.validation-results-container {
  width: 1000px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.close-button:hover {
  background-color: #e04747;
}

.pages-button {
  background: none;
  border: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
}

.table-container {
  width: 100%;
}
