/* components/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #004987;
  padding: 10px 0;
  z-index: 1000;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar-elem {
  font-size: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.navbar ul li a:hover {
  background-color: rgba(0, 123, 255, 0.484);
}
