.validate-button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.validate-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.select-mappings-container {
  background-color: #0d245b;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
}

.list-elem-evaluate {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  align-items: center;
}

.clickable {
  cursor: pointer;
  color: #00796b;
}

.active {
  background-color: #e0f7fa;
  border-left: 4px solid #00796b;
}

.disabled {
  color: #bdbdbd;
  cursor: not-allowed;
}

.mapping-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
